html, body, #root {
	height: 100%;
}

.game-card-container {
	display: flex;
	justify-content: center;
	align-content: center;
	width: calc(100% * (1/4));
}

.deck-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
	height: 100%;
	max-width: 720px;
	margin: auto;
}

.game-card {
	width: 150px;
	height:	150px;
	margin: 15px;
	background-color: cornflowerblue;
	border-radius: 3px;
	font-size: 18px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.game-card:hover {
	cursor: pointer;
}

.app {
	max-height: 100%;
}